@charset "UTF-8";
/***********
	RESET
************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  padding: 0;
}

/******************
   GENERAL STYLES
*******************/
html {
  font-size: 16px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style-type: none;
}

/*****************
  COMMON CLASSES
******************/
.content_width {
  max-width: 960px;
}

.overlay {
  background: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85)));
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
}

.section_title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #413d4b;
  letter-spacing: 1px;
  margin: 13px 0;
  padding-top: 30px;
}

.section_subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: .875rem;
  color: #413d4b;
  letter-spacing: 1px;
}

.page_text {
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin: 0 90px;
  text-align: center;
}

.blue_button {
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  text-align: center;
  padding: 9px 0;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #00e0d0;
}

.blue_button:hover {
  color: #ffffff;
  border-color: #ffffff;
}

/***********
	HERO
************/
#hero_all {
  background-image: url(../images/trees1.jpg);
  background-size: cover;
}

.menu_center {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.hero {
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_menu_all {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px auto;
  z-index: 3;
}

.logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.main_menu > li > a {
  font-family: 'Roboto', sans-serif;
  font-size: .8125rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0px 11px;
  letter-spacing: 1px;
}

.main_menu > li > a:hover {
  color: #00e0d0;
}

#hero_title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  margin: 50px 10px 10px 10px;
}

#hero_title::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  margin: 25px auto;
}

.hero > .blue_button {
  margin: 50px auto;
  background-color: transparent;
}

.hero > .blue_button:hover {
  border-color: #ffffff;
}

.dots {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dot {
  width: 14px;
  height: 14px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  margin: 3px;
}

.dot:hover {
  border-color: #00e0d0;
}

.dot_current {
  border-color: #00e0d0;
  background-color: #00e0d0;
}

/***********
  OUR STORY
************/
#our_story {
  background-color: #ffffff;
}

.our_story_content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
}

.big_logo_container {
  padding: 10px;
  margin: auto;
}

.our_story_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60%;
  padding: 10px;
}

.our_story_p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.5rem;
  color: #413d4b;
  margin: 13px 0;
}

.our_story_right > .blue_button {
  margin: 13px 0;
}

.our_story_right > .blue_button:hover {
  color: #413d4b;
  border-color: #413d4b;
}

/***********
   WATCH
************/
#watch {
  background-image: url(../images/city.jpg);
  background-size: cover;
}

.watch_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 60px;
}

.watch_circle {
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  margin: 0 auto;
}

.watch_circle:hover {
  border: 3px solid #00e0d0;
}

.watch_circle > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 0;
  margin: auto;
}

.watch_story {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: #ffffff;
  margin: 30px auto;
}

.watch_story:hover {
  color: #00e0d0;
}

/************
  EXPERTISE
*************/
#expertise {
  background-color: #ffffff;
}

.expertise_content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
}

.expertise_content > .section_title {
  text-align: center;
}

.expertise_content > .section_subtitle {
  text-align: center;
}

.expertise_content > .section_subtitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #413d4b;
  margin: 20px auto 10px auto;
}

.exp_items_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px;
}

.expertise_item {
  width: 27.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px;
}

.exp_img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
}

.exp_img_container > img {
  margin: auto;
}

.exp_item_caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: .875rem;
  text-align: center;
  color: #413d4b;
  letter-spacing: 1px;
}

.exp_item_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .875rem;
  color: #413d4b;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px;
}

/***********
  TEAM
************/
#team {
  background-image: url(../images/trees2.jpg);
  background-size: cover;
}

.team_content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 40px;
}

.team_content > .section_title {
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.team_content > .section_subtitle {
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.team_content > .section_subtitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #655c80;
  margin: 20px auto 10px auto;
}

.team_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team_member {
  border: 1px solid #fafafa;
  margin: 9px;
}

.member_img_container > img {
  width: 100%;
}

.person_name {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: .875rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px auto 10px auto;
}

.person_position {
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: .8125rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 0px auto 25px auto;
}

.team_content > .page_text {
  color: #fafafa;
  margin: 50px auto 20px auto;
}

.team_content > .blue_button {
  margin: 10px auto;
}

/***********
  PORTFOLIO
************/
#portfolio {
  background-color: #ffffff;
}

.portfolio_header {
  margin: 0 auto;
  padding: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.portfolio_header > .section_title {
  margin-top: 10px;
}

.dribble_link > a {
  padding: 40px 10px 10px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  color: #413d4b;
  letter-spacing: 1px;
}

.dribble_link > a > span {
  font-weight: 200;
  font-size: 2rem;
  vertical-align: middle;
}

.dribble_link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio_img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio_img_container > a {
  width: 16.6666%;
}

.portfolio_img_container > a > img {
  width: 100%;
  height: 100%;
}

.portfolio_img_container > a > img:hover {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.portfolio_footer {
  margin: 0 auto;
  padding: 70px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.blue_button {
  margin: 0 auto;
}

.portfolio_footer > .blue_button:hover {
  color: #413d4b;
  border-color: #413d4b;
}

/***********
  PEOPLE SAY
************/
#people_say {
  background-image: url(../images/trees3.jpg);
  background-size: cover;
}

.psay_content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 50px;
}

.quote {
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 90px 25px 90px;
  text-align: center;
}

.quote::before {
  content: "“";
  display: block;
  width: 50px;
  height: 50px;
  margin: 40px auto;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 6.25rem;
}

.person_quoted > .person_name {
  margin: 10px;
}

/***********
  CONTACT
************/
#contact {
  background-color: #ffffff;
}

.contact_content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px;
}

.contact_content .section_title {
  margin: 70px 10px 40px 10px;
}

.contact_form_container {
  width: 45%;
}

.clients_container_all {
  width: 45%;
}

.contact_form {
  padding-top: 10px;
  width: 100%;
}

.form_field {
  margin: 0 10px;
  padding: 13px;
  width: 90%;
  border: 1px solid #adacba;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
}

.contact_form .blue_button {
  background-color: #ffffff;
  margin: 30px 10px;
}

.contact_form .blue_button:hover {
  color: #413d4b;
  border-color: #413d4b;
}

.clients_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cl_logo_cont {
  width: 45%;
  margin: 20px 10px;
}

.cl_logo_cont > img {
  margin: 0 auto;
}

/***********
  FOOTER
************/
#footer {
  background-image: url(../images/desk.jpg);
  background-size: cover;
}

.footer_content {
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer_top {
  padding: 60px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: .9375rem;
  letter-spacing: 1px;
  color: #ffffff;
  margin-top: 20px;
}

.studio_about {
  width: 32%;
}

.studio_about > .page_text {
  text-align: left;
  margin: 25px auto;
}

.studio_subt_addr_phone {
  width: 32%;
}

.studio_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-top: 37px;
}

.studio_address > .page_text {
  text-align: left;
  margin: auto;
  padding: 0 0 10px 10px;
}

.studio_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-top: 5px;
}

.studio_phone > .page_text {
  text-align: left;
  margin: 0;
  padding: 0 0 10px 10px;
}

.studio_social {
  width: 32%;
}

.subscribe_form {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.subscribe_field {
  padding: 13px;
  width: 75%;
  border: 1px solid #adacba;
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  color: #adacba;
  background-color: rgba(0, 0, 0, 0);
}

.subscribe_overlay {
  background-color: rgba(173, 172, 186, 0.4);
  margin-left: 10px;
  width: 20%;
}

.subscribe_submit {
  width: 100%;
  height: 100%;
  background-image: url(../images/paper.png);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #adacba;
}

.subscribe_submit:hover {
  background-color: #00e0d0;
}

.social_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 25px;
}

.social_network {
  width: 36px;
  height: 36px;
  border: 1px solid #adacba;
  border-radius: 18px;
  margin-right: 12px;
  margin-bottom: 12px;
  position: relative;
}

.social_network:hover {
  border: 2px solid #00e0d0;
}

.social_network > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.footer_bottom {
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom_menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.bottom_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom_menu > li > a, .bottom_right {
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  color: #adacba;
  letter-spacing: 1px;
  margin: 0px 10px;
}

.bottom_menu > li > a:hover {
  color: #00e0d0;
}

.bottom_right {
  margin: auto 10px;
}

/***********
 RESPONSIVE
************/
@media screen and (max-width: 800px) {
  .main_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main_menu li {
    padding-bottom: 10px;
  }
  #hero_title {
    padding-top: 150px;
  }
  .our_story_right {
    width: 100%;
    padding: 10px;
  }
  .our_story_right > .section_title {
    text-align: center;
  }
  .our_story_p {
    text-align: center;
  }
  .our_story_right > .blue_button {
    margin: 0 auto;
  }
  .exp_items_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .expertise_item {
    width: 90%;
  }
  .portfolio_img_container > a {
    width: 48%;
  }
  .contact_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact_form_container {
    width: 90%;
  }
  .clients_container_all {
    width: 90%;
  }
  .contact_content .section_title {
    text-align: center;
  }
  .contact_form_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form_field {
    margin: 0 auto;
  }
  .contact_form .blue_button {
    margin: 0 auto;
  }
  .clients_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .studio_about > .logo_container > img {
    margin: 0 auto;
  }
  .studio_about,
  .studio_subt_addr_phone,
  .studio_social {
    width: 100%;
  }
  .footer_subtitle {
    text-align: center;
  }
  .bottom_left {
    margin: 0 auto;
  }
  .bottom_right {
    margin: 0 auto;
  }
}
